<h1 class="text-center mt-5">vista principal</h1>

{{#if error}}
<h2 class="text-center mt-5">Error al cargar los productos. Intente más tarde.</h2>
    {{else}}

<div class="row mt-5">
    {{#each productos}}
        <div class="col-12 col-md-6 col-lg-4">
            {{> card 
                nombre = this.nombre
                descripcion = this.descripcion
                imagen = this.imagen
                precio = this.precio
            }}
        </div>
    {{/each}}
</div>

{{/if}}
<script>
    //PETICIÓN AL SERVIDOR PARA CARGAR PRODUCTOS.
    fetch("http://localhost:3000/inventario")
        .then(response => response.json())
        .then(data => {
            if(data.code == 500){
                console.log(data.message)
            }else{
                data.productos = data.productos.filter(producto => producto.stock > 0);
              cargarProductos(data.productos)
            }
        })
        .catch(error => {
            console.log(error)
            alert("Algo ha salido mal al cargar los productos.")
        })

        //agregamos clase active al link de la página concurrida
        document.querySelector("#linkHome").classList.add("active");

        //FUNCIÓN QUE PERMITE AGREGAR PRODUCTOS AL CARRO
        const agregarCarro = (id, stock) => {
            try{

                let storageCarro = JSON.parse(localStorage.getItem("productos")) || []

                let buscarProducto = storageCarro.find(producto => producto.id == id)
                if(buscarProducto){
                    if(buscarProducto.cantidad >= stock){
                        buscarProducto.cantidad = stock
                        alert("Usted alcanzó el stock máximo de productos: " + stock);
                    }else {
                        buscarProducto.cantidad = buscarProducto.cantidad +1
                    }
                    
                }else {
                    storageCarro.push({id, cantidad: 1})
                }
                alert("Producto agregado correctamente.")
                localStorage.setItem("productos", JSON.stringify(storageCarro))

            }catch(error){
                alert("Ha ocurrido un error al cargar el producto, intente nuevamente.")
                localStorage.setItem("productos", "[]")
                location.reload();
            }
        }
</script>
